entradas/com-Amazon_Communities_top5000.txt
entradas/com-DBLP_Communities_top5000.txt
entradas/com-LiveJournal_Communities_top5000.txt
entradas/com-youtube.ungraph.txt
entradas/descricao.txt
entradas/roadNet-PA.txt
entradas/roadNet-TX.txt
entradas/web-BerkStan.txt
entradas/web-Google.txt
entradas/web-NotreDame.txt
entradas/web-Stanford.txt
com-Amazon_Communities_top5000_clustered_graph.txt
com-DBLP_Communities_top5000_clustered_graph.txt
com-LiveJournal_Communities_top5000_clustered_graph.txt
com-youtube.ungraph_clustered_graph.txt
roadNet-PA_clustered_graph.txt
roadNet-TX_clustered_graph.txt
soc-Epinions1_clustered_graph.txt
soc-Epinions1.txt
web-Google_clustered_graph.txt
web-NotreDame_clustered_graph.txt
web-Stanford_clustered_graph.txt
